body {
  background-color: #181818;
  margin: 0;
}

body * {
  font-family: "Fira Code", monospace;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 150px auto 100px;
  grid-template-areas: "header header" "main aside" "footer footer";
  min-height: 100vh;
}

header {
  display: grid;
  grid-area: header;
  place-content: center;
  background-color: #000;
  color: #0bf71b;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #101010;
  margin: 20px;
}

h2 {
  color: #0bf71b;
  margin: 0 0 0 20px;
}

section {
  background-color: #000;
  color: #fff;
  margin: 0 20px 0 20px;
}

aside {
  display: grid;
  grid-area: aside;
  background-color: #101010;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  display: grid;
  grid-area: footer;
  place-content: center;
  background-color: #000;
  color: #0bf71b;
}

::selection {
  background-color: #0bf71b;
  color: #000;
}
